

.DisplaySummaryContainer{
    height: 70%;
    overflow : scroll;
    width : 90%;
}

.CheckoutButtonContainer{
    height: 30%;
    display: flex;
    align-items: center;
    width : 100%;
    justify-content : center;
}

.CheckoutButton{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border : 0px;
    box-shadow: 1px 3px lightgray;
    background-color : coral;
}



.CheckoutDisplay{
    width: 400px;
    background-color: #f7f7f7;
    height :400px;
    display: flex;
    flex-direction :  column;
    align-items : center;


}